html, body { height: 100%; }
body {
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 16px;
    line-height: 28px;
    color: rgba(0,0,0, 0.87);
    background-color: #fafafa;
}
h1, h3, p {
    margin: 0;
    padding: 0;
}

.background-overlay {
    background-image: linear-gradient(#fafafa, white);
    position: fixed;
    top: 0;
    left: 10vw;
    height: 200vh;
    width: 100vw;
    border-radius: 55% 0;
    opacity: 0.6;
    z-index: -1;
}

.background-dots {
    background-image: url("./imgs/dots.png");
    opacity: .04;
    background-size: cover;

    position: fixed;
    top: 0;
    left: 0;

    height: 100%;
    width: 100%;
    z-index: -1;
}

.container {
    width: 60%;
    margin: 96px auto 0;
    margin: 7.5vh auto 0;
    padding-bottom: 96px;
    padding-bottom: 7.5vh;
}

img {
    display: block;
    height: 96px;
    width: 96px;
    min-width: 96px;/* IE requires min-width for flex width to work properly with flex */
    margin-right: 48px;
    object-fit: contain;
}

h1, h3, p, .container, .suggestion  {
    margin-bottom: 32px;
}

.header, .suggestion {
    display: flex;
    align-items: center;
}

@media only screen and (min-width: 993px) and (max-width: 1400px) {
    .container {
        width: 65%;
    }
    img {
        height: 64px;
        width: 64px;
        min-width: 64px;/* IE requires min-width for flex width to work properly with flex */
        margin-right: 32px;
    }
    h1, h3, p, .container, .suggestion {
        margin-bottom: 24px;
    }
}

@media only screen and (min-width: 601px) and (max-width: 992px) {
    .container {
        width: 75%;
    }
    img {
        height: 48px;
        width: 48px;
        min-width: 48px;/* IE requires min-width for flex width to work properly with flex */
        margin-right: 24px;
    }
    h1, h3, p, .container, .suggestion {
        margin-bottom: 18px;
    }
    .suggestion {
        align-items: flex-start;
    }
    .suggestion img {
        margin-top: 12px;
    }
}

@media only screen and (max-width: 600px) {
    .container {
        width: 90%;
    }
    img {
        height: 44px;
        width: 44px;
        min-width: 44px;/* IE requires min-width for flex width to work properly with flex */
        margin-right: 18px;
    }
    h1, h3, p, .container, .suggestion {
        margin-bottom: 18px;
    }
    .suggestion {
        align-items: flex-start;
    }
    .suggestion img {
        margin-top: 9px;
    }
}

